.display{

}
.book{
    width: 200px;
    height: 300px;
    background-color: rgba(211, 158, 89, 0.776);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);;
    background-image:url(assets/book-cover.jpeg);
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
.title{
    grid-row: 3;
    grid-column: 5;
    justify-self: center;
}
.author{
    grid-row:4;
    grid-column: 5;
    justify-content: center;
}
.pages{
    grid-row:6;
    grid-column:5;
    font-size: small;
    justify-content: center;
}